

body {
  margin: 0;
  padding: 0;
}


#main3{
	width:520px; height:512px;
}

#menu {
	text-align:center;
  background-color: #383838;
  padding: 14px 0;
}
#menu a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.ma {
  clear: both;
  background-color: #aaaaaa;
  width: 400px;
  height: 300px;
}
.chap1{
	height:300px; width:720px;}

.pic{
	width:500px; height:400px;
}
#map{  margin: 30px 0px 80px 0px;}



.main {
  
  width: 65%;
  background-color: white;
  padding: 100px; 
 position:absolute; left:300px;
}


.main {
  margin: 80px 0 80px 0;
}

#decoration {
  position:relative; 
  background-color: oldlace;
  padding:10px;
}
.pict{width:350px; height:350px;}

#wi {margin:80px 0px 40px 0px;}

.food{display:inline-block;}